@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{font-family:Open Sans;}

.chrono{width:250px;margin:auto;padding:10px;border:1px solid #222;margin-bottom:30px;}
.chrono-container{display:flex;}
.chrono-container div{flex-direction:column;padding:20px;width:0%;text-align:center;font-size:2em;}
.chrono-start{position:relative;left:30%;}
.chrono-start:hover{}
