{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}
    <div class="right_col" role="main">
      <div class="">

        <!--<div class="page-title">
          <div class="title_left">
            <h3>TRANSACCIONES</h3>
          </div>
        </div>-->
        <div class="clearfix"></div>
        <div class="row">
            <div <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Corridas disponibles<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <form id="demo-form1" data-parsley-validate class="form-horizontal form-label-left" action="{% url 'iniciar_carrera' %}" method="POST" target="_blank">{% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >Nombre </label>
                            <div class="col-md-6">
                                <select id="sel_carre" name="sel_carre" class='form-control'>
                                    <option value="">Seleccionar</option>
                                    {% for carrera in carreras %}
                                        <option value="{{ carrera.id }}">{{ carrera.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <h2>Categorías<small></small></h2>
                        <!--<label class="control-label col-md-3 col-sm-3 col-xs-12" >Categorías </label>-->
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>Edad inicial</th>
                              <th>Edad final</th>
                              <th>Sexo</th>
                            </tr>
                          </thead>
                          <tbody id="tbodycat">
                            <!--<tr>
                              <td>Niños</td>
                              <td>5</td>
                              <td>10</td>
                            </tr>
                            <tr>
                              <td>Niñas</td>
                              <td>5</td>
                              <td>10</td>
                            </tr>
                            <tr>
                              <td>Adultos hombres</td>
                              <td>18</td>
                              <td>48</td>
                            </tr>
                            <tr>
                              <td>Adultos mujeres</td>
                              <td>18</td>
                              <td>48</td>
                            </tr>-->
                          </tbody>
                        </table>
                        <div class="ln_solid"></div>
                        <h2>Distancias<small></small></h2>
                        <!--<label class="control-label col-md-3 col-sm-3 col-xs-12" >Categorías </label>-->
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>Kilometros</th>
                            </tr>
                          </thead>
                          <tbody id="tbodydis">
                            <!--<tr>
                              <td>5K</td>
                              <td>5</td>
                            </tr>
                            <tr>
                              <td>10K</td>
                              <td>10</td>
                            </tr>
                            <tr>
                              <td>15K</td>
                              <td>15</td>
                            </tr>-->
                          </tbody>
                        </table>
                    <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-7 col-sm-7 col-xs-12 col-md-offset-3">
                          <button id="ini_carr" type="submit" class="btn btn-success">Iniciar Corrida</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
            <div <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Nueva Corrida <small>Ingrese los siguientes datos</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="" method="post">{% csrf_token %}

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ nombre.id_for_label }}">Nombre </label>
                            <div class="col-md-6">
                                {{ form.nombre }}
                            </div>
                            <div class="col-md-6">
                                {{ form.nombre.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ fecha.id_for_label }}">Fecha </label>
                            <div class="col-md-6">
                                {{ form.fecha }}
                            </div>
                            <div class="col-md-6">
                                {{ form.fecha.errors }}
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button id="boton_tipo" type="submit" class="btn btn-success">Ingresar</button>
                          <button type="button" id="limpiar" class="btn btn-default">Limpiar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
        <!-- /page content -->

    <!-- jQuery -->
    <!--<script type="text/javascript" src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>-->
    <!--<script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>-->
    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script type="text/javascript" src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script type="text/javascript" src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script type="text/javascript" src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- iCheck -->
    <script type="text/javascript" src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script type="text/javascript" src="{% static 'js/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datepicker/daterangepicker.js' %}"></script>
    <!-- bootstrap-wysiwyg -->
    <script type="text/javascript" src="{% static 'vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/jquery.hotkeys/jquery.hotkeys.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/google-code-prettify/src/prettify.js' %}"></script>
    <!-- jQuery Tags Input -->
    <script type="text/javascript" src="{% static 'vendors/jquery.tagsinput/src/jquery.tagsinput.js' %}"></script>
    <!-- Switchery -->
    <script type="text/javascript" src="{% static 'vendors/switchery/dist/switchery.min.js' %}"></script>
    <!-- Select2 -->
    <script type="text/javascript" src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
    <!-- Parsley -->
    <script type="text/javascript" src="{% static 'vendors/parsleyjs/dist/parsley.min.js' %}"></script>
    <!-- Autosize -->
    <script type="text/javascript" src="{% static 'vendors/autosize/dist/autosize.min.js' %}"></script>
    <!-- jQuery autocomplete -->
    <script type="text/javascript" src="{% static 'vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js' %}"></script>
    <!-- starrr -->
    <script type="text/javascript" src="{% static 'vendors/starrr/dist/starrr.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery.price_format.2.0.min.js' %}"></script>

    <!-- bootstrap-daterangepicker -->
    <script>
      $(document).ready(function() {
        $('#birthday').daterangepicker({
          singleDatePicker: true,
          calender_style: "picker_4",
            format: "YYYY-MM-DD"
        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });
      });
    </script>


    <!-- Autosize -->
    <script>
      $(document).ready(function() {
        autosize($('.resizable_textarea'));
      });

    </script>

    <script>

        // using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$('#sel_carre').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;
    if(valueSelected !== ""){
        var datos = {"id":parseInt(valueSelected)};
        $.ajax({
            dataType: "json",
            url: "{% url 'getCateCarrera' %}",
            type: "POST",
            data: datos,
            success:function(data){
                $("#tbodycat").empty();
                $.each(data, function(i, item) {
                    console.log(item.fields.nombre);
                    $("#tbodycat").append("<tr><td>"+item.fields.nombre+"</td><td>"+item.fields.edad_ini+"</td><td>"+item.fields.edad_fin+"</td><td>"+item.fields.sexo+"</td></tr>");
                });
            }
        });
        $.ajax({
            dataType: "json",
            url: "{% url 'getDisCarrera' %}",
            type: "POST",
            data: datos,
            success:function(data){
                $("#tbodydis").empty();
                $.each(data, function(i, item) {
                    console.log(item.fields.nombre);
                    $("#tbodydis").append("<tr><td>"+item.fields.nombre+"</td><td>"+item.fields.distancia+"</td></tr>");
                });
            }
        });
    }
});

/*$("#ini_carr").on('submit',function(e){
    var id_carr = $('#sel_carre').val();
    if (id_carr !== ""){
        $.post( "{% url 'iniciar_carrera' %}", { 'id_carrera': id_carr } );
    }
});*/


    </script>


{% endblock %}