<!--<div class="col-md-2 col-sm-2 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Podio<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      {% for distancia in distancias %}
                        <h2>General: {{ distancia.nombre}}<small></small></h2>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Número</th>
                              <th>Nombre</th>
                            </tr>
                          </thead>
                          <tbody id="tbodygeneral_{{ distancia.nombre}}">
                            <tr>
                                <td>2345</td>
                              <td>Marco Vera</td>
                            </tr>
                            <tr>
                                <td>2342</td>
                              <td>Camilo Muñoz</td>
                            </tr>
                            <tr>
                                <td>23432</td>
                              <td>Chiqui</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="ln_solid"></div>
                        {% for categoria in categorias %}
                        <h2>{{ categoria.nombre}} {{ distancia.nombre}}<small></small></h2>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Número</th>
                              <th>Nombre</th>
                            </tr>
                          </thead>
                          <tbody id="tbody_{{ categoria.nombre}}_{{ distancia.nombre}}">
                            <tr>
                                <td>2345</td>
                              <td>Marco Vera</td>
                            </tr>
                            <tr>
                                <td>2342</td>
                              <td>Camilo Muñoz</td>
                            </tr>
                            <tr>
                                <td>23432</td>
                              <td>Chiqui</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="ln_solid"></div>
                        {% endfor %}
                      {% endfor %}
                  </div>
                </div>
            </div>-->